@tailwind base;

@layer base {
	:where(h1, h2, h3) {
		@apply font-heading;
	}
}

@tailwind components;
@tailwind utilities;

@layer utilities {
	.splitter > div {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}
