@tailwind base;

@layer base {
	:where(h1, h2, h3) {
		@apply font-heading;
	}
}

@tailwind components;
@tailwind utilities;

@layer utilities {
	.splitter > div {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.text-bg-clip {
		@apply bg-gradient-to-r from-blue-600 via-green-500 to-indigo-400 inline-flex text-transparent bg-clip-text;
	}
}
